[Desktop Entry]
Encoding=UTF-8
Name=Akitacoin Core
Comment=Connect to the Akitacoin P2P Network
Comment[de]=Verbinde mit dem Akitacoin peer-to-peer Netzwerk
Comment[fr]=Akitacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Akitacoin, eşten eşe kriptografik sanal para birimi
Exec=akitacoin-qt %u
Terminal=false
Type=Application
Icon=akitacoin128
MimeType=x-scheme-handler/akitacoin;
Categories=Office;Finance;
